.LoginContainer {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #F72585;
    border-radius: 20px;
    box-shadow: -1px 3px 13px 10px rgba(0,0,0,0.24);
    position: relative;
}

.LoginContainer h1 {
    margin-top: 80px;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: bold;
    color: #F72585;
}

.EmailSenha {
    display: flex;
    flex-direction: column;
}

#Email {
    padding: 5px 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
}

#password {
    padding: 5px 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 8px;
}

.RememberForgot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.RememberForgot a {
    font-size: 10px;
    color: white;
    margin-left: 5px;
}

.Button {
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #4CC9F0;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: .2s;
}

.Button:hover {
    background-color: #480CA8;
    color: #F72585;
    padding: 15px 35px;
    font-size: 15px;
}

.ButtonFlex {
    width: 100%;
    display: flex;
    justify-content: center;
}

.CriarConta {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.CriarConta p {
    color: white;
    font-size: 13px;
}

.CriarConta button {
    cursor: pointer;
    padding: 5px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    background-color: #F72585;
    color: white;
}



/* Responsividade */

@media(max-width: 1024px) {
    .LoginContainer {
        width: 30%;
        margin-top: 70px;
    }
}

@media(max-width: 768px) {
    .LoginContainer {
        width: 35%;
        height: 350px;
        margin-top: 90px;
    }

    .LoginContainer h1 {
        margin-top: 60px;
        margin-bottom: 40px;
        font-size: 30px;
    }

    #Email {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding: 5px 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 8px;
    }

    #password {
        width: 60%;
        padding: 5px 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        border: none;
        border-radius: 8px;
    }

    .RememberForgot a {
        font-size: 10px;
        color: white;
        margin-left: 40px;
        margin-right: auto;
    }

    .Button {
        padding: 8px 28px;
        margin-top: 20px;
    }
    
    .Button:hover {
        padding: 8px 28px;
        font-size: 14px;
    }

    .CriarConta {
        margin-top: 30px;
    }
}

@media(max-width: 426px) {
    .LoginContainer {
        width: 50%;
        height: 350px;
    }

    .RememberForgot a {
        margin-left: 30px;
    }
    
    .CriarConta {
        margin-top: 30px;
    }

    .CriarConta p {
        font-size: 10px;
    }
    
    .CriarConta button {
        padding: 5px 12px;
        font-size: 10px;
        margin-left: 10px;
    }
}

@media(max-width: 376px) {
    .LoginContainer {
        width: 65%;
        height: 350px;
    }

    .RememberForgot a {
        margin-left: 30px;
    }
    
    .CriarConta {
        margin-top: 30px;
    }

    .CriarConta p {
        font-size: 10px;
    }
    
    .CriarConta button {
        padding: 5px 12px;
        font-size: 10px;
        margin-left: 10px;
    }
}   